---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  image?: string;
  url?: string;
}

const {
  title,
  description = "Welcome to our site",
  image,
  url,
} = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site ?? 'http://localhost:4321');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {image && <meta property="og:image" content={new URL(image, Astro.site)} />}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    {
      image && (
        <meta property="twitter:image" content={new URL(image, Astro.site)} />
      )
    }

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
